body {
    background: linear-gradient(45deg, rgb(36, 69, 128) 0%, rgba(22,65,111,1) 34%, rgba(11,5,65,1) 89%);
    text-align: center;
    align-content: center;
    font-family: "Share Tech Mono", monospace;
    background-size: 400% 400%;
    animation: bg-gradient 30s ease infinite;
  }

.content {
  animation: fadeIn 5s;
  width:90%;
    margin: 0 auto;
}

  h2 {
    font-size: 42px;
    color: #0073e6;
    margin-top: 3%;
  }
  
  
  p {
    font-size: 20px;
    color: #0073e6;
  }
  
.game {
  width: 12%;
  display: inline-block;
  background-color: rgba(83, 118, 235, 0.4);
  padding: 1%;
  border-radius: 10%;
  margin: 2%;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 5px 5px rgba(83, 118, 235, 0.4);

}

.game:hover {
  background-color: rgba(46, 66, 129, 0.6);
  transform: scale(1.1);
  box-shadow: 0px 0px 5px 5px rgba(46, 66, 129, 0.6);
}

.game h1 {
  font-size: 0.7em;
  color: rgb(62, 118, 202)
}
.game img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  aspect-ratio: 1/1;
}

a {
  font-size: 20px;
  color: #4960ad;
}
  
.bookmarklet {
  font-size: 25px;
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
 }

  @keyframes fadeIn {
    0% {opacity: 0;}
    20% {opacity: 40;}
    80% {opacity: 90;}
    90% {opacity: 92;}
    100% {opacity: 100;}
  }
  
  @keyframes fadeInPadding {
    0% {padding-left: 0%;padding-right: 0%;}
    100% {padding-left: 5%;padding-right: 5%;}
  }

@keyframes bg-gradient {
    0% {
      background-position: 50% 20%;
    }
    25% {
      background-position: 100% 90%;
    }
    50% {
      background-position: 0% 100%;
    }
    75% {
      background-position: 100% 90%;
    }
    100% {
      background-position: 50% 20%;
    }
  }
